* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    margin: 1em 0;
}

#contenido {
    background-color: rgb(184, 243, 243);
    width: min( 40em, 100% );
    margin: 1em auto;
    border-radius: .1em;
    box-shadow: 0px 5px 15px 0px rgb(21, 205, 246);
    padding: 1em 2em;
}

.campo {
    font-weight: bold;
    font-size: 1.2em;
}

.Valortext {
    height: 2.4em;
    width: 100%;
    border: none;
    border-radius: .1em;
    margin-bottom: 1em;
    margin-top: .8em;
    box-shadow: 0px 5px 15px 0px rgb(21, 205, 246);

}

#contenedor-cotizacion {
    margin-top: 5em;
}

#contenedor-cotizacion h3{
    text-align: center;
    font-size: 2em;
}

#contenedorCampos {
    margin: 1em 0;
}

#txtValor {
    border: 1px solid;
    
}

#pEnganche {
    background-color:whitesmoke;
    height: 1.6em;
    width: 100%;
    border: none;
    border-radius: .1em;
    margin-bottom: 1em;
    margin-top: .8em;
    margin: .8em 0 1em 0;
    box-shadow: 0px 5px 15px 0px rgb(21, 205, 246);

}

#pFinanciar {
    background-color: white;
    height: 1.6em;
    width: 100%;
    border: none;
    border-radius: .1em;
    margin-bottom: 1em;
    margin-top: .8em;
    margin: .8em 0 1em 0;
    box-shadow: 0px 5px 15px 0px rgb(21, 205, 246);

}

#pMensual {
    background-color: white;
    height: 1.6em;
    width: 100%;
    border: none;
    border-radius: .1em;
    margin-bottom: 1em;
    margin-top: .8em;
    margin: .8em 0 1em 0;
    box-shadow: 0px 5px 15px 0px rgb(21, 205, 246);

}

#pagoM {
    height: 2em;
    width: 100%;
    margin-top: .8em;
    margin-bottom: 1em;
    font-size: .9em;
    box-shadow: 0px 5px 15px 0px rgb(21, 205, 246);
}

#contenedor-de-botones {
    text-align: center;
}

#btnCalcular {
    background-color: rgb(0, 0, 0);
    text-decoration: none;
    border: none;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    padding: .6em;
    border-radius: .1em;
    margin: 1em 0 2em 2em;
    box-shadow: 0px 5px 15px 0px rgb(0, 166, 255);

}

#btnLimpiar {
    background-color: black;
    text-decoration: none;
    border: none;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    padding: .6em;
    border-radius: .1em;
    margin: 1em 0 2em 0;
    box-shadow: 0px 5px 15px 0px rgb(0, 166, 255);
}

#btnCalcular:hover {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    color: black;
    box-shadow: 0px 5px 15px 0px rgb(21, 205, 246);
}

#btnLimpiar:hover {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    color: black;
    box-shadow: 0px 5px 15px 0px rgb(21, 205, 246);
}
